.example-card {
    max-width: 800px;
    display: block;
    margin: 0 auto;
    box-shadow: -15px 15px 10px 1px rgb(180, 177, 177);
  }
  
  .example-header-image {
    background-image: url("https://cdn-icons-png.flaticon.com/512/4226/4226726.png");
    background-size: cover;
  }
  
