<div class="logo text-center">
  <img src="../../../assets/gymlogo.png" alt="" />
</div>
<div class="registration-form m-3 p-4">
  <form [formGroup]="registerForm" >
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input formControlName="firstName" matInput placeholder="First Name" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input formControlName="lastName" matInput placeholder="Last Name" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput placeholder="Email" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Mobile</mat-label>
          <input formControlName="mobile" matInput placeholder="Mobile" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Weight</mat-label>
          <input
            type="number"
            formControlName="weight"
            matInput
            placeholder="weight"
          />
          <mat-icon matSuffix>line_weight</mat-icon>
          <mat-hint>Unit is KG</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Height</mat-label>
          <input [readonly]="!this.registerForm.value?.weight"
            type="number"
            formControlName="height"
            matInput
            placeholder="height"
          />
          <mat-icon matSuffix><i class="fa fa-text-height"></i></mat-icon>
          <mat-hint>Unit is meters</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-6 mt-3">
        <mat-form-field appearance="outline">
          <mat-label>BMI</mat-label>
          <input readonly
            type="number"
            formControlName="bmi"
            matInput
            placeholder="BMI"
          />
          <mat-icon matSuffix><i class="fa fa-sort-numeric-desc"></i></mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6 mt-3">
        <mat-form-field appearance="outline">
          <mat-label>BMI Result</mat-label>
          <input readonly
            type="text"
            formControlName="bmiResult"
            matInput
            placeholder="BMI Result"
          />
          <mat-icon matSuffix><i class="fa fa-check"></i></mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6 mt-4">
        <label id="example-radio-group-label">Do you require trainer?</label>
        <mat-radio-group class="example-radio-group" formControlName="requireTrainer">
          <mat-radio-button 
            class="example-radio-button"
            *ngFor="let trainerOption of ['Yes', 'No']"
            [value]="trainerOption"
          >
            {{ trainerOption }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-md-6 mt-4">
        <label id="example-radio-group-label">Gender</label>
        <mat-radio-group class="example-radio-group" formControlName="gender">
          <mat-radio-button 
            class="example-radio-button"
            *ngFor="let gender of genders"
            [value]="gender"
          >
            {{ gender }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-md-6 mt-3">
        <mat-form-field appearance="outline">
            <mat-label>Select Package</mat-label>
            <mat-select formControlName="package">
              <mat-option *ngFor="let package of packages" [value]="package">
                {{package}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <div class="col-md-6 mt-3">
        <mat-form-field appearance="outline">
            <mat-label>Which of the following is important to you?</mat-label>
            <mat-select multiple formControlName="important">
              <mat-option *ngFor="let important of importantList" [value]="important">
                {{important}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <div class="col-md-6">
        <label id="example-radio-group-label">Have been Gym before?</label>
        <mat-radio-group class="example-radio-group" formControlName="haveGymBefore">
          <mat-radio-button 
            class="example-radio-button"
            *ngFor="let beenGym of ['Yes', 'No']"
            [value]="beenGym"
          >
            {{ beenGym }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
            <mat-label>Enquiry date</mat-label>
            <input formControlName="enquiryDate" matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
      </div>
    </div>
    <button *ngIf="!isUpdateActive" (click)="submit()" class="mt-4" mat-raised-button color="accent">Submit</button>
    <button *ngIf="isUpdateActive" (click)="update()" class="mt-4" mat-raised-button color="accent">Update</button>
  </form>
</div>
